#package structure
config/keys.yaml
config/paths.yaml
logs/*
!logs/.gitkeep
!data/.gitkeep
data/acts/*
__pycache__
.DS_Store
notebooks/sketchbook.ipynb

#virtual environments
venv/*

#package metadata
*.egg-info/